* {
 margin: 0;
 box-sizing: border-box;
}
body {
background: url("https://cdn.imgchest.com/files/b49zcbz5byw.png"); /* replace yellow image web address FuMing emails you */
opacity: .5;
background-repeat: no-repeat;


}
.container {
max-width: 1400px;
display: flex;
flex-wrap: wrap;
gap: 16px;
}


.container > * {
background-color: lightblue;
font-size: 10rem;
height: 200px;
 color: blue;
 border: 2px dashed blue;
 display: flex; 
 flex-grow: 1;
}


.box1 {
    flex-basis: 100%;
}
.box2{
    flex-basis: 46.9%;
}
.box3{
    flex-basis: 25.4%;
}
.box4{
     flex-basis: 25.4%;
}
.box5{
    flex-basis: 49.4%;
}
.box6{
    flex-basis: 49.4%;
}